@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik Italic";
  src: url("../assets/fonts/Rubik-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

//--------commom---------
$primary-color: #007bff;
$color-star: #f39c12;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}

.webkit-line-clamp {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;

  -webkit-line-clamp: 2; /* Limit the text to 2 lines */
  -moz-line-clamp: 2;
  -o-line-clamp: 2;
  line-clamp: 2;

  -webkit-box-orient: vertical; /* Required for WebKit browsers */
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;

  overflow: hidden; /* Hide the overflowed content */
  text-overflow: ellipsis; /* Show ellipsis when text overflows */
}

.container-paddingX {
  padding-left: 10%;
  padding-right: 10%;
}

.btn-common {
  color: #fff;
  background-color: #007bff;
  border: none;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease;

  &:hover {
    background-color: #005bff;
  }
}

.transition-common {
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: translateY(-10px);
  }
}

//======SCROLLBAR=====//
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 5px;
}

*::-webkit-scrollbar-track {
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 5px;
}

//--------header---------
.header-sticky {
  background: #fff;
}

.container_header-top {
  background-color: $primary-color;
  padding: 20px 0;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}

.header-pc {
  display: block;

  @media (max-width: 750px) {
    display: none;
  }
}

.header-mobile {
  display: none;

  @media (max-width: 750px) {
    display: flex;
  }
}

.header-pc {
  font-size: 1em;

  .container_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 15px 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    color: #444;

    .logo {
      width: 140px;
    }

    //----hover header
    .header-hover {
      font-weight: 600;
      position: relative;
      cursor: pointer;

      &:hover {
        color: $primary-color;
      }

      /* Dropdown is hidden by default */
      .header-container-hover {
        text-align: left;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        width: 220px;
        padding: 10px 0;
        z-index: 10;

        &.right {
          right: 0;
          left: auto; /* Ensure left is unset when right is applied */
        }
      }

      /* Show the dropdown when hovering over  */
      &:hover .header-container-hover {
        display: block;
      }

      .header-hover-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        color: #333;
        cursor: pointer;

        &:hover {
          background-color: #f5f5f5;
        }
      }
    }

    .header_search {
      position: relative;
      width: 40%; /* Adjust width as needed */
      height: 50px;
      border-radius: 25px;
      background-color: #f6f7f9;
      border: 1px solid #d1d5db;
      display: flex;
      align-items: center;
      padding-left: 40px;

      @media (max-width: 750px) {
        width: 30%;
      }

      input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        background: none;
        padding: 0 6px;
        border-radius: 25px;
        color: #333;
        text-overflow: ellipsis;
      }

      .search-icon {
        position: absolute;
        left: 10px;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .header_your-profile {
      img {
        width: 2rem;
      }
    }
  }

  /* Button Container */
  .header_button-container {
    display: flex;
    gap: 10px;
    align-items: center;

    button {
      font-size: 16px;
      padding: 10px 20px;
      border-radius: 5px;
      border: 2px solid transparent;
      cursor: pointer;
      transition: all 0.3s ease;
      font-weight: bold;
    }

    .btn-outline {
      background-color: #fff;
      border: 2px solid #333;
      color: #333;

      &:hover {
        background-color: #f0f0f0;
      }
    }

    .btn-primary {
      background-color: #333;
      color: #fff;
      border: 2px solid #333;

      &:hover {
        background-color: #444;
      }
    }

    .btn-icon {
      background-color: #fff;
      border: 2px solid #333;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}

.header-mobile {
  height: 70px;
  width: 100%;
  justify-content: center; /* Centers the logo */
  align-items: center;
  padding: 10px 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative; /* Allows positioning of icons */

  .headermobile-search {
    width: 300px;

    @media (max-width: 450px) {
      width: 200px;
    }

    @media (max-width: 375px) {
      width: 150px;
    }
  }

  .custom-navbar-toggle {
    background-color: #ffffff; /* #fff background */
    border: none; /* Optional: Remove border */
    align-items: center;
  }

  .menu-icon {
    position: absolute;
    left: 0px; /* Adjust based on your design */
  }

  .header-icons {
    position: absolute;
    right: 20px; /* Adjust based on your design */
    display: flex;
    gap: 20px;
  }

  .logo {
    width: 140px; /* Adjust logo size */
  }
}

.caterogy-drawer-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;

  &:hover {
    background-color: $primary-color;
    color: #fff;
  }
}

.drawer-profile {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;

  img {
    width: 60px;
    object-fit: cover;
  }
}

//--------slideshow---------
.slideshow-text {
  font-weight: bold;
  font-size: 1.4rem;
  font-family: "Rubik Italic", Arial, Helvetica, sans-serif;
}

//--------course card---------
.slick-dots li {
  margin: 0 1px; /* Control spacing between the dots */
}

.slick-dots li button {
  border-radius: 50%;
}

.course-card {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 350px;
  margin: 50px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  @extend .transition-common;

  .course-image {
    img {
      width: 100%;
      height: 160px;
      object-fit: cover;
      border-radius: 5px 5px 0 0;
    }
  }

  .course-details {
    padding: 10px;
    height: 100%;

    .course-title {
      height: 12%;
      font-size: 1rem;
      font-weight: bold;
      margin: 10px 0;
      @extend .webkit-line-clamp;
    }

    .course-author {
      height: 10%;
      color: gray;
      font-size: 0.8rem;
      margin-bottom: 10px;
      @extend .webkit-line-clamp;
    }

    .course-rating {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 0.8rem;

      .stars {
        color: $color-star; // Star color
      }
    }

    .course-price {
      font-size: 1rem;
      margin-top: 10px;
    }
  }
}

//--------infinite scrolling---------
.integrations-slider {
  width: 100%;
  overflow: hidden; // Ensures the content doesn't overflow outside the slider container
  padding: 20px 0;

  .integrations-slide-track {
    display: flex;
    gap: 4rem;
    animation: scroll 20s linear infinite; // Infinite horizontal scroll animation
  }

  .integrations-slide {
    min-width: 200px; // Adjust width according to the panel size
    text-align: center;

    h3 {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
      font-weight: bold;
      color: #333;
    }

    .panel {
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      @extend .transition-common;

      img {
        max-width: 100px;
        max-height: 50px;
        object-fit: contain;
      }
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

//--------footer---------
.footer {
  background-color: #2e2e2e;
  margin-top: 50px;
  padding: 40px 0;
  color: #fff;
  font-size: 0.9rem;

  .footer-links {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 8px;
      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .btn-language {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 12px;
    font-size: 0.9rem;
    border-radius: 4px;
    margin-bottom: 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;

    i {
      margin-right: 8px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  .footer-logo {
    margin-top: 20px;
    img {
      width: 150px;
      margin-bottom: 10px;
    }
  }

  .footer-copyright {
    margin-top: 20px;
    text-align: right;
    color: #b0b0b0;
    font-size: 0.9rem;
  }
}

//--------auth---------
.error-auth {
  color: red;
  margin-top: 5px;
}

//--------coures home---------
.course-home {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  .course-header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .course-title {
      width: 60%;
      h1 {
        margin-top: 20px;
        font-size: 2rem;
        font-weight: bold;
      }
      ul {
        list-style-type: none;
        margin-top: 20px;
        li {
          font-size: 1rem;
          margin-bottom: 10px;
        }
      }

      .course-details {
        margin: 20px 0;

        .course-rating-container {
          display: flex;
          align-items: center;
          gap: 10px;

          .highlight-label {
            background-color: #f8e71c;
            color: #333;
            padding: 5px 10px;
            border-radius: 4px;
            font-weight: bold;
            gap: 10px;
          }

          .course-rating {
            display: flex;
            flex-direction: row;
            gap: 10px;
          }
        }

        p {
          margin: 5px 0;
          a {
            color: #1e90ff;
            text-decoration: none;
          }

          i {
            margin-right: 5px;
          }
        }
      }
    }

    .course-video {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 35%;

      .video-thumbnail {
        margin-bottom: 20px;
        img {
          border-radius: 20px;
          width: 100%;
          height: 250px;
          object-fit: cover;
        }

        .video-thumbnail-opacity {
          position: absolute;
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 20px;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          text-align: center;
          color: #fff;

          .icon-play {
            color: #fff;
            animation: jump 1s ease-in-out infinite; /* Apply the animation */
            cursor: pointer;

            &:hover {
              color: $primary-color;
            }
          }

          @keyframes jump {
            100% {
              transform: translateY(0); /* Start and end at the same position */
            }
            50% {
              transform: translateY(
                -10px
              ); /* Move up by 10px at the middle of the animation */
            }
          }

          p {
            font-weight: bold;
          }
        }
      }

      .course-info {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
          font-size: 1.5rem;
          font-weight: 600;
          color: #ff5722;
        }
        .course-info-btn {
          display: flex;
          flex-direction: column;

          .enroll-button {
            @extend .btn-common;
            margin: 5px;
          }

          .not-bg {
            color: #333;
            background: #fff;
            border: 1px solid #808080;

            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }

  .course-content {
    margin-top: 20px;

    h1 {
      font-size: 2rem;
      font-weight: bold;
    }

    p {
      margin: 10px 0;
      font-size: 1rem;
    }

    .section {
      margin-top: 20px;
      cursor: pointer;
      h3 {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: #f1f1f1;
        border-radius: 5px;
        font-size: 1.2rem;
      }
      ul {
        margin-top: 10px;
        padding-left: 20px;
        list-style-type: none;
        li {
          font-size: 1rem;
          margin-bottom: 5px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .course-header {
    flex-direction: column-reverse;

    .course-title {
      width: 100% !important;
    }

    .course-video {
      width: 100% !important;
      .course-info {
        margin-top: 10px;
      }
    }
  }

  .course-content {
    .section {
      h3 {
        font-size: 1rem;
      }
      ul {
        li {
          font-size: 0.9rem;
        }
      }
    }
  }
}
//--------coures page---------
.course-page-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.course-page {
  display: flex;
  padding: 0 20px 20px 20px;
  gap: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  &__left {
    width: 70%;
    overflow-y: auto;
    padding-right: 10px;

    @media (max-width: 768px) {
      width: 100%;
    }

    iframe {
      margin-bottom: 20px;
    }

    &__content {
      background-color: #fff;
      padding: 15px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }
  }

  &__right {
    width: 30%;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-height: 600px;
    overflow-y: auto;

    @media (max-width: 768px) {
      width: 100%;
    }

    .course-sections {
      list-style: none;
      padding: 0;

      .section {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        cursor: pointer;

        .section-title {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-weight: bold;

          .section-title-child {
            font-weight: normal;
            font-size: 0.8rem;
          }
        }

        &:hover {
          background-color: #eee;
        }

        &.expanded {
          background-color: #f0f0f0;

          .lectures {
            margin-top: 10px;
            display: block;
          }
        }

        .lectures {
          display: none;
          list-style: none;
          padding-left: 20px;

          .lecture {
            padding: 5px 0;
            cursor: pointer;

            .lecture-child {
              font-size: 0.8rem;
            }

            &.active {
              font-weight: bold;
              color: $primary-color;
            }

            &:hover {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

//--------my course---------
.mycourse {
  &__header {
    background-color: #333;
  }

  &__tabs {
    @extend .container-paddingX;
    background-color: #333;
    text-align: center;
  }

  &__tabs-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
  }

  &__tab {
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
    padding: 10px 10px;

    &:hover {
      color: #ccc;
    }

    &--active {
      border-bottom: 5px solid #007bff;
    }
  }

  &__content {
    @extend .container-paddingX;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
    box-sizing: border-box; /* Ensure padding is considered in width calculation */
  }

  &__card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    flex-basis: calc(25% - 20px); /* Take 25% of width minus the gap */
    max-width: calc(25% - 20px); /* Ensure maximum width doesn't exceed 25% */
    box-sizing: border-box; /* Include padding and border in the size */
    height: auto; /* Adjust height automatically based on content */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-img {
      width: 100%;
      border-radius: 5px;
      margin-bottom: 10px;
    }

    &-info {
      flex-grow: 1; /* Allow the content area to grow */

      h3 {
        font-size: 1rem;
        margin-bottom: 5px;
      }

      p {
        color: #666;
        font-size: 0.9rem;
      }
    }
  }
}

.mycourse__empty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px auto 0 auto;

  .mycourse__empty-img {
    width: 300px;
  }

  .mycourse__empty-btn {
    margin-top: 30px;
    @extend .btn-common;
  }
}

.mycourse__card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  flex-basis: calc(25% - 20px); /* Default for large screens */
  max-width: calc(25% - 20px);
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  @extend .transition-common;

  &-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  &-title {
    height: 40px;
    @extend .webkit-line-clamp;
  }

  // Inline media query for tablet
  @media (max-width: 1024px) {
    flex-basis: calc(33.33% - 20px); /* 3 cards per row on tablet */
    max-width: calc(33.33% - 20px);
  }

  // Inline media query for mobile
  @media (max-width: 768px) {
    flex-basis: calc(50% - 20px); /* 2 cards per row on mobile */
    max-width: calc(50% - 20px);
  }

  // Inline media query for small devices
  @media (max-width: 576px) {
    flex-basis: 100%; /* Full-width card on small devices */
    max-width: 100%;
  }
}

.mycart-container {
  display: flex;
  width: 100%;
  padding: 20px;

  @media (max-width: 1024px) {
    flex-direction: column;
  }

  .mycart-container-left {
    width: 100%;
    display: flex;
    flex-direction: column;

    .mycart-left-item {
      @extend .transition-common;
      cursor: pointer;
      padding-right: 20px;

      .mycart-item {
        display: flex;
        border-bottom: 1px solid #ddd;
        padding: 20px 0;

        @media (max-width: 768px) {
          flex-direction: column;
        }

        .mycart-img {
          width: 150px;

          @media (max-width: 768px) {
            width: 100%;
          }

          img {
            border-radius: 10px;
            width: 100%;
            height: 80px;
            object-fit: cover;

            @media (max-width: 768px) {
              height: 140px;
            }
          }
        }

        .mycart-content {
          flex: 2;
          padding-left: 20px;

          @media (max-width: 768px) {
            padding: 10px 0;
          }

          h3 {
            font-size: 18px;
            margin-bottom: 5px;
          }

          p {
            color: #6c757d;
            margin-bottom: 10px;
          }

          .badge {
            background-color: #ffc107;
            color: black;
            padding: 5px 10px;
            font-weight: bold;
          }

          .rating {
            margin: 4px 0;

            span {
              margin-right: 5px;
            }

            .stars {
              color: #f5b30d;
            }
          }
        }

        .mycart-action {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          @media (max-width: 768px) {
            align-items: center;
          }

          .price {
            .current-price {
              font-size: 20px;
              font-weight: bold;
            }

            .current-price.discounted {
              font-size: 1rem;
              text-decoration: line-through;
              color: #666;
            }
          }

          .actions {
            margin-top: 10px;

            button {
              @extend .btn-common;
              background: red;

              &:hover {
                background: rgb(129, 23, 23);
              }
            }
          }
        }
      }
    }
  }

  .mycart-container-right {
    padding-left: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;

    h3 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    h4 {
      font-size: 22px;
      font-weight: bold;
      margin: 20px 0;
    }

    .checkout-btn {
      width: 100%;
      margin-bottom: 20px;
      @extend .btn-common;
    }

    .coupon-section {
      p {
        font-weight: bold;
      }

      .applied-coupon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 10px;

        .coupon-item {
          display: flex;
          justify-content: space-between;

          .remove-coupon {
            color: red;
            cursor: pointer;
          }
        }
      }

      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-right: 10px;
      }

      .apply-coupon {
        width: 100%;
        margin: 20px 0;
        @extend .btn-common;
      }
    }
  }
}

//--------user profile---------
.profile-page {
  color: #333;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  .profile-header {
    position: relative;
    height: 350px;
    margin-bottom: 100px;

    .profile-header-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

    .profile-avatar {
      position: absolute;
      bottom: -50px;
      left: 30px;

      .avatar-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 5px solid #fff;
        object-fit: cover;
      }
    }

    .profile-name {
      text-align: center;
      font-size: 1.4rem;
      font-weight: bold;
      left: 140px;
      position: absolute;
    }
  }

  .profile-devide {
    display: flex;
    gap: 20px;

    .profile-title {
      font-size: 1.4rem;
      margin-bottom: 20px;
    }

    .profile-info {
      display: flex;
      flex-direction: column;

      .profile-intro,
      .profile-activity {
        width: 48%;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: #fff;
      }
    }

    .profile-courses {
      .courses-list {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .course-item {
          display: flex;
          align-items: flex-start;
          background-color: #fff;
          padding: 15px;
          border-radius: 10px;
          border: 1px solid #ddd;
          cursor: pointer;
          @extend .transition-common;

          @media (max-width: 768px) {
            flex-direction: column;
          }

          .course-img {
            width: 35%;
            height: 150px;
            object-fit: cover;
            border-radius: 10px;
            margin-right: 20px;

            @media (max-width: 768px) {
              width: 100%;
              height: 220px;
            }
          }

          .course-info {
            width: 65%;
            max-width: 800px;

            @media (max-width: 768px) {
              width: 100%;
              margin-top: 20px;
            }
          }

          .course-info h3 {
            margin: 0 0 10px;
            font-size: 1.2rem;
          }

          .course-info p {
            margin: 0;
            color: #666;
          }
        }
      }
    }
  }
}

//--------search page---------
.search-page {
  @extend .container-paddingX;
  margin-top: 20px;
  font-family: Arial, sans-serif;

  .search-page-header {
    background: #fff;
    display: flex;
    align-items: center;
    margin: 20px 0;

    @media (max-width: 768px) {
      justify-content: flex-start;
      flex-direction: column;
      gap: 10px;
    }
  }

  .search-header {
    margin-left: 10px;
    p {
      font-size: 1.4rem;
      color: #333;
      margin-bottom: 0;
    }
  }

  .search-results {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .search-result-item {
      display: flex;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 15px;
      cursor: pointer;
      @extend .transition-common;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .result-image {
          width: 270px;
          height: 120px;
          margin-right: 0;
          margin-bottom: 20px;
        }
      }

      .result-left {
        .result-image {
          width: 300px;
          height: 150px;
          border-radius: 10px;
          object-fit: cover;
        }

        .result-price {
          margin-top: 10px;
          font-size: 1.2rem;
          font-weight: bold;
          text-align: center;
        }
      }

      .result-info {
        width: 80%;
        margin-left: 20px;

        h3 {
          font-size: 1.2rem;
          color: #333;
        }

        p {
          color: #666;
          margin-bottom: 0;
        }

        .result-author {
          color: $primary-color;
        }

        .result-rating {
          display: flex;
          gap: 5px;

          .stars {
            color: $color-star;
          }
        }
      }
    }
  }
}

//--------progress bar---------
.progress-bar-container {
  padding-top: 10px;
  width: 100%;
  max-width: 300px;

  .progress-bar {
    height: 10px;
    background-color: #e0e0e0; // Light gray background
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 5px;

    &__fill {
      height: 100%;
      background-color: #f4595a;
      transition: width 0.3s ease;
    }
  }

  .progress-text {
    text-align: right;
    font-size: 14px;
    color: #333; // Text color

    @media (max-width: 768px) {
      text-align: left;
    }
  }
}

.mycourse__card {
  .progress-bar-container {
    max-width: 100%;
    .progress-text {
      text-align: left;
    }
  }
}

//--------payment page---------
.payment-page {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  @extend .container-paddingX;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .payment-container {
    width: 70%;
    margin-right: 16px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    @media (max-width: 768px) {
      width: 100%;
    }

    .payment-methods {
      margin-bottom: 20px;

      h4 {
        font-size: 1.4rem;
        margin-bottom: 10px;
      }

      .method-options {
        display: flex;
        flex-direction: column;

        label {
          background-color: #f1f1f1;
          padding: 0 10px;
          border-radius: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;

          .credit-choose {
            input {
              margin-right: 10px;
            }
          }

          .credit-icons {
            margin-left: 10px;
            display: flex;
            img {
              width: 40px;
              height: auto;
              margin-right: 5px;
            }
          }
        }
      }
    }

    .order-summary {
      h4 {
        font-size: 1.4rem;
        margin-bottom: 10px;
      }

      .order-items {
        .order-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;

          img {
            border-radius: 10px;
            width: 100px;
            height: 70px;
            margin-right: 10px;
            object-fit: cover;
          }

          .course-title {
            flex: 1;
            margin-right: 10px;
          }

          .course-price {
            font-weight: bold;
          }
        }
      }
    }
  }

  .summary-container {
    width: 30%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    @media (max-width: 768px) {
      width: 100%;
      margin-top: 20px;
    }

    h4 {
      font-size: 1.4rem;
      margin-bottom: 20px;
    }

    .summary-details {
      .summary-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        font-size: 1.2rem;
      }

      .discounted-price {
        font-weight: bold;
      }

      .discount-percentage {
        color: green;
      }
    }

    .complete-payment-btn {
      width: 100%;
      margin-top: 20px;
      @extend .btn-common;
    }

    p {
      margin-top: 10px;
      font-size: 0.9rem;
      color: #666;
      text-align: center;
    }
  }
}
